@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: 
      background-color 0.3s ease, 
      color 0.3s ease;
  }

  @layer utilities {
    .dark {
      scrollbar-color: #4B5563 #1F2937;
    }
  }
  [role="listbox"]{
    .dark{
      background-color: #111827 !important;
    }
    
  }
  [role="listbox"] li:hover{
    .dark{
      background-color: #1F2937 !important;
    }
  }
  