@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    transition: 
      background-color 0.3s ease, 
      color 0.3s ease;
  }

  @layer utilities {
    .dark {
      scrollbar-color: #4B5563 #1F2937;
    }
  }
/* General styling for listbox in dark mode */
html.dark [role="listbox"] {
  background-color: #111827 !important; /* Dark background */
  border: 2px solid #4B5563 !important; /* Dark border */
}

/* Hover state for list items in dark mode */
html.dark [role="listbox"] li:hover {
  background-color: #1F2937 !important; /* Slightly lighter dark background */
}
html.dark [role='option']{
  color: white !important;
}
html.dark .react-datepicker__month-container{
  background-color: #1F2937 !important;
}
html.dark .react-datepicker__header{
  background-color: #1F2937 !important;
  
}
html.dark .react-datepicker__current-month{
  color: white !important;
  
}
html.dark .react-datepicker__day-name{
  color: white !important;
  
}